body{
	background: #76D7C4;
}

header
{
	background: #76D7C4;
	width: 25%;
	height: 50px;
	color: white;
	float: left;
}

nav
{
	background: #76D7C4;
	width: 100%;
	height: 100px;
}

aside
{
	background: #48C9B0;
	float: right;
	width: 100%;
	height: 100%;
}

#segundo
{
	background: white;
	width: 50%;
	height: 500px;
	float: left;
}

#tercero{
	background: white;
	width: 50%;
	height: 500px;
	float: right;
}
iframe
{
	background: #FE642E;
	width: 50%;
	height: 300px;
}
footer
{
	background: #b3b6b7;
	width: 100%;
	height: 60px;
	color: black;
	float: left;
}

a{
	text-decoration: none;
	color: white;
}

#fono{
	float: left;
	color: black;
	background: #48C9B0;
}

#texto{
	color: black;
	text-align: center;
	background: #48C9B0;
}


#borde{
	border-bottom: 4px solid gray;
	width: 6%;
	float: right;
}

#borde2{
	
	width: 6%;
	float: left;
}

#carrusel{
	background: #48C9B0;
}

#Formulario{
	background: white;
	color: black;
}

#rescate1{
	text-align: right;
}

#Etapa1{
	text-align: right;
}

#descri{
	text-align: right;
}

#rescate{
	float: right;
}

#crowfunding{
	width: 50%;
	height: 200px;
}

#descri1{
	text-align: center;
}

#Tom{
	width:60%;
	height:200px;

}

#Luisa{
	width:100%;
	height:300px;
}

#Marcelo{
	width:40%;
	height:100px;
}

#John{
	width:100%;
	height:250px;
}

#Paolo{
	width:100%;
	height:200px;
}
#Camila{
	width:50%;
	height:180px;
}
#Susan{
	width:80%;
	height:280px;
}

#popout{
	background: #48C9B0;
}

#popout1{
	background: #48C9B0;
}

#popout2{
	background: #48C9B0;
}

#popout3{
	background: #48C9B0;
}

#popout4{
	background: #48C9B0;
}

#popout5{
	background: #48C9B0;
}

#popout6{
	background: #48C9B0;
}

#popout7{
	background: #48C9B0;
}

#aleman{
	width: 40%;
	height:300px;
	float: left;
}

#boton{
	background: white;
	color: black;
	border: 2px solid black;
}


body {
	margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #76D7C4;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
	background-color: #1abc9c;
}

ul.topnav li a.active {}

ul.topnav li.right {
	float: right;
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

a{
	color: black;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
    border-color: black;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#face{
	width: 15%;
	
}

#google{
	width: 15%;
}

#insta{
	width: 15%;
}

#mail{
	width: 15%;
}